body{
    font-family: 'Comic Neue';
    background: #c5c4c4;
}

.cabecalho{
    border-bottom: solid 2px #00ddff;
    padding: 2%;
    font-size: 35px;
    color: #00ffdd;
    text-align: center;
}

.secao{
    margin-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #0095ff;
    color: #0048ff;
    text-align: center;
}

.titulo{
    text-align: center;
}

.texto{
    border: solid 2px #00eaff;
    padding: 2%;
    margin: 2%;
    font-size: 20px;
}

.video{
    border-radius: 3%;
}

.texto:hover{
   background-color: #00fffb;
   padding: 2em;
   border-radius: 2em;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.texto_conteudo{
    color: #0048ff;
    font-size: 25px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 50.0;
    border: 4px solid rgb(0, 217, 255);
    border-radius: 2%;
}

.texto_conteudo{
    text-align: center;
}

.link_menu{
    text-decoration: none;
    border: 2px solid #00e1ff;
    padding: 5px;
    border-radius: 2%;
    background-color: #c4ebf4;
}

.menu{
    list-style-type: none;
}

.link_menu:hover{
    background-color: #00c8ff;
    padding: 0.5em;
    border-radius: 10%;
}